h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 300px;
  border: 1px solid #5f3434;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #f3e337ca;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #c1b42bd1;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
